*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}



:root{

}



body{
    font-family: system-ui;

}

img{
    max-width: 100%;
}



.header{
    background: #f4f3f4;
    padding: 10px 0;
}

.center{
    max-width: 95%;
    margin-inline: auto;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;

}


.jumia-logo:has(h1){
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

.jumia-logo{
    display: flex;
    gap: 0 5px;
    cursor: pointer;
}


.logo-icon{
    background: #ff9900;
    padding: 3px 5px;
    color: #f4f3f4;
    border-radius: 100%;
    font-size: 0.8em;
    align-self: center;
    max-width: fit-content;
}


.nav-link{
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    display: flex;
    gap: 0 0.8rem;
    font-weight: 550;
}

.signin{
    color: #000;
    align-self: center;
}



.register{
    border: 1px solid #f55203;
    align-self: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: #f55203;
    background: transparent;
    transition: 0.5s ;
}


.register:hover{
    background: #edcdbd;

}


.banner-text{
    text-align: center;
    margin: 20px 0;
}

.banner-text h1{
    font-size: 2.2rem;
    color: #f55203;
    font-family: system-ui;
}



.banner-text h1 span{
    font-weight: 300;
    color: #000;
}

.banner-text p{
    padding: 15px 0;
    font-size: 1em;
}


#myButton{
    font-size: 1em;
    background: #f55203;
    border: none;
    outline: #f55203;
    padding: 8px 15px;
    color: #f4f3f4;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease;
    max-width: fit-content;

}


#myButton:hover{
    transform: scale(1.1);
}

/* .end of header */


.sect-title{
    font-size: 1.8em;
    text-align: center;
}

.border{
    width: 50px;
    height: 4px;
    background: #f55203;
    margin-inline: auto;
    
}

.centers{
    padding: 20px 0;
}

.centers:hover .border{
    display: none;
}
.centers:hover .sect-cont{
    border: 4px solid #f55203;
}


.sect-content{
    margin: 20px ;
   
    
}


 article{
    padding: 10px 0;
}

#work{
    background: #f4f3f4;
    
}

.comment-content{
    display: grid;
    gap: 1.2rem 0;
    padding: 40px 0;
}

.comment{
    background: #f9f9f9;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.1), -10px -10px 10px white;
    transition: 1s;
    cursor: context-menu;
  
}

.comment:hover{
    box-shadow: 12px 12px 12px rgba(0,0,0,0.1) inset, -10px -10px 10px white inset;
}



#comment h1{
    padding: 10px;
}

.comment{
    display: grid;
    gap: 15px 0;
    font-size: 1.1rem;
    padding: 20px 10px;
}

.fa-comments{

    font-size: 2rem;
    color: red;
}


.comment-name{
    font-weight: 700;
    padding: 20px 0;

}



.instant{
    background: #f55203;
    padding: 30px 0;

}
.instant h1{
    padding: 20px 0;
    color: #f4f3f4;
}

#joinButton{
    outline: none;
    border: none;
    background: #f4f3f4;
    color: #f55203;
    padding: 8px 35px;
    border-radius: 5px;
    cursor: pointer;
}



#joinButton:hover{
    transform: scale(1.1);
}








































@media screen and (min-width:45em){
    

.banner-text h1{
font-size: 3rem;
}
.banner-text{
    flex: 1 0 50%;
    align-self: center;
    font-size: 1.1rem;
    text-align: left;
    display: grid;
    gap: 0.2rem 0;
}


.banner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    gap: 5rem;
}



.sect-cont{
    min-height: 400px;
    display: grid;
    place-items: center;
}


    .sect-content{
       display: grid;
       grid-auto-columns: 1fr;
       grid-auto-flow: column;
       
    }


    .comment-content{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 0 2rem;
    }


    #joinButton{
        font-size: 1.2rem;

    }

    .instant h1{
        font-size: 3rem;
    }
}












@media screen and (min-width:70em) {


    .center{
        max-width: 80%;
    }


.banner-text {
    max-width: 400px;
    font-size: 1.5rem;
}


.banner-text h1{
    font-size: 5rem;
}


    
}

